.bellIconContainer{
    background-size: cover;
    position: absolute;
    right: 6%;
    top: 3%;
}

.bell-icon{
    cursor: pointer;
    font-size: 30px;
    color: #FFF;
}

@media screen and (max-width: 768px) {
    .bellIconContainer{
        right: 18%;
        top: 1.5%;
    }
}