.bellIconContainer{
    width: 3vh;
    height: 3vh;
    background-image: url('../../../../assets/bellIcon.svg');
    background-size: cover;
    position: absolute;
    right: 6%;
    top: 3%;
    cursor: pointer;
}