.desktop-book-page-container{
    width:100vw;
    height: 100vh;
}

.mobile-book-page-container{
    display: none;
}

@media screen and (max-width: 768px) {
    .mobile-book-page-container{
        display: block;
        width:100vw;
        height: 100vh;
    }

    .desktop-book-page-container{
        display: none;
    }
}