.modalContainer{
    background-color: #07080B;
    background-image: url('../../../assets/regImage.png');
    background-size: cover;
}

.modalContainer .registration-modal-title{
    width:100%;
    text-align: center;
}

.modalContainer h1{
    color: #DB630C;
    font-weight: 900;
}

.modalContainer .inputs{
    margin-right: 8vh;
}

.modalContainer .inputContainer{
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.modalContainer .submitContainer{
    text-align: center;
}

.modalContainer .submitContainer h2{
    color: #FFF;
    margin-top: 5%;
}

.modalContainer .submitContainer button{
    border-radius: 55px;
    font-size: 45px;
    height: 10vh;
    width: 32vh;
    margin-top:5%;
    margin-bottom: 5%;
}


@media screen and (max-width: 768px) {
    .modalContainer .inputContainer{
        display: flex;
        flex-direction: column;
        margin: 10px;
    }
}