.edit-users-admin-actions-container{
    display: flex;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}

.add-user-admin-button-modal{
    width:150px;
    height: 50px;
}

.cancel-add-user-admin-button-modal{
    width:150px;
    height:50px;
}