.side-nav-container{
    display: flex;
}

.side-nav-container .side-bar{
    background-color: #1A1919;
    color: #FFFF;
    height:90vh;
    width: 300px;
    transition: all 0.2s;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-top: 5px;
}

.side-nav-container .side-bar .top-section{
    display: flex;
    align-items: center;
    padding: 20px 15px;
}

.side-nav-container .side-bar .top-section .side-nav-title{
    font-size: 25px;
    color: #DB630C;
}

.side-nav-container .side-bar .top-section .side-nav-arrow{
    display: flex;
    font-size: 25px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .side-nav-container{
        display: flex;
        margin-top: 20%;
        z-index: 999;
    }
}
