.loginModalContainer{
    background-color: #07080B;
    background-image: url('../../../assets/loginImage.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.loginModalContainer .login-modal-title{
    width:100%;
    height:100%;
    text-align: center;
}

.loginModalContainer h1{
    color: #DB630C;
    font-weight: 900;
}

.loginModalContainer .login-modal-body{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.loginModalContainer .loginInputs{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loginModalContainer .loginInputs input{
    margin-top: 5vh;
}



.loginModalContainer .loginInputs h2{
    color: #FFF;
    margin-top: 5%;
}

.loginModalContainer .loginInputs button{
    border-radius: 55px;
    font-size: 45px;
    height: 10vh;
    width: 55%;
    margin-top: 5vh;
}

.loginModalContainer .login-error-message{
    color: red;
}

.login-error-container{
    width:100%;
    text-align: center;
    margin-top: 40px;
}
@media screen and (max-width: 768px) {
    .loginModalContainer .login-modal-title{
        width:100%;
        height:100%;
    }

    .loginModalContainer .loginInputs button{
        font-size: 30px;
        width: 55%;
    }
}