.navigation-container{
  width: 100%;
}

.userNavbarContainer{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    width: 100%;
    transition: 0.5s;
    background: transparent;
  }
  
  .userNavbarContainer:hover{
    background: rgb(26, 24, 24);
  }

  .userNavbarContainer .searchWrapper{
    width:98%;
    margin-left: 70vh;
    margin-top: 1vh;
  }

  
.search-book-container{
  position: absolute;
  left: 38%;
  top: 3%;
}

.lower-navigation-container{
  width: 100%;
  height: 60px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
}

.mobile-navigation-container{
  width:100%;
  display: none;
}

@media screen and (max-width: 768px) {
  .mobile-navigation-container{
    display: block;
  }

  .regular-navigation-container{
    display: none;
  }
}