.addbookM{
    width: 15%;
    height: 9%;
    border-radius: 10px;
    background-color: white;
    border: solid;
    border-color: green;
    color:green;
    border-width: 1px;
    transition: 0.2s;
}

.addbookM:hover{
    background-color: green;
    border-color: green;
    color:white;
}

.canceladd{
    width: 15%;
    height: 9%;
    border-radius: 10px;
    background-color: white;
    border: solid;
    border-color: red;
    color:red;
    border-width: 1px;
    transition: 0.2s;
    margin-left:1.5vw;
}

.canceladd:hover{
    background-color: red;
    border-color: red;
    color:white;
}

.imageBook{
    width:250px;
    height:300px;
    position: absolute;
    left:59%;
}

.uploadImage{
    position: absolute;
    top: 75%;
    left: 60%;
    border: none;
}

.message{
    position: absolute;
    top: 80%;
    right: 15%;
}

.actions-edit-container{
    width: 100%;
    display: flex;
    align-items: center;
}