.add-book-button{
    width: 150px;
    height: 50px;
}

.cancel-add-book-button{
    width: 150px;
    height: 50px;
}



.imageBook{
    width:250px;
    height:300px;
    position: absolute;
    left:59%;
}

.uploadImage{
    position: absolute;
    top: 75%;
    left: 60%;
    border: none;
}

.message{
    position: absolute;
    top: 80%;
    right: 15%;
}

.actions-edit-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .add-book-image-container{
        display: none;
    }
}